.box-center-page{
	background-color: #c4c4c4;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    height: 100vh;
}
.box-center{
	background-color: #fff;
	border: 1px solid #c3c3c3;
}

.box-center-content{	
	padding: 20px 15px 15px 15px;
}
.box-center-content .titulo{
	margin-bottom: 10px;;
	text-align: center;
}
.box-center-content [class*="btn-"]{
	margin-top: 15px;
}
.link-custom-login{
	margin-bottom: 10px;
}
.link-custom-login.right{
	float: right;
}








.intelbras-dark .box-center-page{
	background-color: #242424;
}
.intelbras-dark .box-center{
	background-color: #333;
	border-color: #3e5055;
}




	/*.box-center-page{
	margin: auto;
}
.box-center-width{
	display: table;
	height: calc(100vh);
	width: 100%;
	max-width: 100%;
}
 .box-center-height{
	display: table-cell;
	padding: 0 15px;
	vertical-align: middle;
}

.link-custom-login{
	margin: 11px 0;
}
.link-custom-login.right{
	float: right;
}

.intelbras-login{
   background-color: #f1f1f1;
}
.box-login{
   background-color: #fff;
   border: 1px solid #f1f1f1;
   border-top: none;
   padding: 20px 15px 15px 15px;
}
.content-login{
   margin-bottom: 30px;
}


.box-dados .titulo{
	margin-top: 20px;;
	text-align: center;
}
.box-btn{
	margin-top: 20px;
} 
*/



/* .intelbras-dark .intelbras-login{
	background-color: #333;
  }
  .intelbras-dark .box-login{
	background-color: #242424;
	border-color: #3e5055;
  } */