.box-grupos .bt-criar{
    border-radius: 50%;
    padding: 8px;
    transform: rotate(45deg);
    margin-top: 12px;
}
.box-grupos .card{
    margin-bottom: 15px;
}
.box-grupos .card small{
    display: block;
}
