.alerts-box{
  position: absolute;
  right: 15px;;
  margin-left: 15px;
  z-index: 2;
}

[class*="alert-"] {
  position: relative;
  padding: 5px 15px;
  margin-bottom: .25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 3px #333;
}
.alerts-box [class*="alert-"]{
  padding: 5px 40px 5px 15px;
}

[class*="alert-"] .close{
  font-size: 1rem;
  padding: 10px 10px;
  position: absolute;
  top: 0px;
    right: 0px;
}

.alert-heading {
  color: inherit;
}

.btn-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 4rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-success {
  color: #fff;
  background-color: #00802a;
  border-color: #00802a;
}

.alert-success hr {
  border-top-color: #00802a;
}

.alert-success .btn-link {
  color: #00802a;
}

.alert-info {
  color: #fff;
  background-color: #0092b9;
  border-color: #0092b9;
}

.alert-info hr {
  border-top-color: #0092b9;
}

.alert-info .btn-link {
  color: #0092b9;
}

.alert-warning {
  color: #fff;
  background-color: #b98809;
  border-color: #b98809;
}

.alert-warning hr {
  border-top-color: #b98809;
}

.alert-warning .btn-link {
  color: #b98809;
}

.alert-danger {
  color: #fff;
  background-color: #86000c;
  border-color: #86000c;
}

.alert-danger hr {
  border-top-color: #86000c;
}

.alert-danger .btn-link {
  color: #86000c;
}

[class*="alert-"] .btn-link {
  color: #fff;
}
[class*="alert-"] .btn-link:hover {
  color: #fff;
  text-decoration: underline;
}