.intelbras-dark{
  background-color: #333;
  color: #f1f1f1;
  height: 100vh;
}
.intelbras-dark header.box-header,
.intelbras-dark footer{
  background-color: #3E5055;
}
.intelbras-dark header.box-header button:hover{
  background-color: #2e4146;
}
.intelbras-dark aside.sidebar-left {
  background-color: #242424;
  border-color: #3E5055;
  box-shadow: 0px 6px 5px 0px #000000ad;
}
.intelbras-dark ul.nav>li>a{
  color: #f1f1f1;
}
.intelbras-dark ul.nav>li>a:hover{
  background-color: #2e4146;
} 
.intelbras-dark aside.sidebar-right {
  background-color: #242424;
  border-color: #3E5055;
}
.intelbras-dark .title-page {
  color: #f1f1f1;
}
.intelbras-dark .form-control{
  background-color: transparent !important;
  color: #fff !important;
}
.intelbras-dark .search-erase,
.intelbras-dark .nav-tabs .nav .nav-line{
  color: #f1f1f1;
}
.intelbras-dark .card{
  background-color: #242424;
}

.intelbras-dark .modal-content{
  background-color: #393939;
}
.intelbras-dark .modal-title{
  color: #fff;
}
.intelbras-dark .modal{
  background-color: #000000c7;
}
.intelbras-dark .multiselect-box .mult-item-check label:hover{
  background-color: #3E5055;
}
.intelbras-dark .form-group.input-line input.form-control:valid + .form-label, 
.intelbras-dark .form-group.input-line input.form-control:focus + .form-label, 
.intelbras-dark .form-group.input-line p.form-control + .form-label, 
.intelbras-dark .form-group.input-line input.form-control[value="a"] + .form-label{
  color: #36d95b;
}
.intelbras-dark .form-group.input-line .form-control:focus, 
.intelbras-dark .form-group.input-line .form-control:valid, 
.intelbras-dark .form-group.input-line .form-control[value="a"]{
  border-color: #36d95b;
}
