.navbar-progress{
  display: table;
  width: 100%;
}
.navbar-progress>div{
    display: table-cell;
    vertical-align: middle;
}
.navbar-progress>div:after{
  background-color: #6c757d;
  content: '';
  display: inline-block;
  height: 6px;
  width: calc(100% - 30px);
  position: relative;
  top: -4px;
}
.navbar-progress>div:last-child:after{
  display: none;
}
.navbar-progress>div:last-child{
  width: 1%;
}
.navbar-progress>div>button{  
  background-color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 0 5px;
}
.navbar-progress>div.active>button,
.navbar-progress>div>button:hover{  
  background-color: #28a745;
  border-color: #28a745;
}
.navbar-progress>div>button:focus{
  outline: none;
}